<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico o Número registrado </ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>

    <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
      <p *ngIf="forgotPasswordForm.get('email')?.hasError('required')">El correo y Número registrado es requerido.</p>
      <p *ngIf="forgotPasswordForm.get('email')?.hasError('email')">El correo o Número registrado no es válido.</p>
    </div>


    <!-- Confirmar Correo Electrónico -->
<ion-item>
  <ion-label position="floating">Confirmar Correo Electrónico o Número registrado</ion-label>
  <ion-input formControlName="confirmEmail" type="email" required></ion-input>
</ion-item>
<div *ngIf="forgotPasswordForm.get('confirmEmail')?.invalid && forgotPasswordForm.get('confirmEmail')?.touched">
  <p *ngIf="forgotPasswordForm.get('confirmEmail')?.hasError('required')">La confirmación del correo es requerida.</p>
  <p *ngIf="forgotPasswordForm.get('confirmEmail')?.hasError('email')">El correo no es válido.</p>
  <p *ngIf="forgotPasswordForm.get('confirmEmail')?.hasError('emailMismatch')">Los correos no coinciden.</p>
</div>


    <!-- Aquí agregamos el botón de enviar -->
    <ion-button type="submit" expand="block" fill="solid" shape="round" [disabled]="forgotPasswordForm.invalid">
      Enviar Correo
    </ion-button>
  </form>
</ion-content>
