<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <!-- Nombre Completo -->
    <ion-item>
      <ion-label position="floating">Nombre Completo</ion-label>
      <ion-input formControlName="fullName" required></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched">
      <p *ngIf="registerForm.get('fullName')?.hasError('required')">El nombre completo es requerido.</p>
      <p *ngIf="registerForm.get('fullName')?.hasError('minlength')">Debe tener al menos 3 caracteres.</p>
    </div>

    <!-- Apellidos-->
    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input formControlName="fullLastName" required></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('fullLastName')?.invalid && registerForm.get('fullLastName')?.touched">
      <p *ngIf="registerForm.get('fullLastName')?.hasError('required')">El Apellido es requerido.</p>
      <p *ngIf="registerForm.get('fullLastName')?.hasError('minlength')">Debe tener al menos 6 caracteres.</p>
    </div>

    <!-- Correo Electrónico -->
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
      <p *ngIf="registerForm.get('email')?.hasError('required')">El correo es requerido.</p>
      <p *ngIf="registerForm.get('email')?.hasError('email')">El correo no es válido.</p>
    </div>

    <!-- Contraseña -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
      <p *ngIf="registerForm.get('password')?.hasError('required')">La contraseña es requerida.</p>
      <p *ngIf="registerForm.get('password')?.hasError('minlength')">Debe tener al menos 6 caracteres.</p>
    </div>

    <!-- Número de telefono -->
    <ion-item>
      <ion-label position="floating">Número de Telefono</ion-label>
      <ion-input formControlName="Número de télefono" type="number" required></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('number')?.invalid && registerForm.get('number')?.touched">
      <p *ngIf="registerForm.get('number')?.hasError('required')">El número es requerido.</p>
      <p *ngIf="registerForm.get('number')?.hasError('minlength')">Debe tener al menos 8 caracteres.</p>
    </div>

     <!-- Botón de Envío -->
    <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">Registrarse</ion-button>
  </form>

</ion-content>
